
body {
    font-family: 'Lato', sans-serif;
    overflow-y: overlay;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

label.error {
    display: block;
    width: 380px;
    font-size: 12px;
    color: blue;
    padding: 3px;
    margin-left: 55px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.hoverDarker:hover {
    color: #0033cc !important;
}

.alert-info {
    background-color: #d9edf7;
}

.alert-success {
    background-color: #dff0d8;
}

.alert-warning {
    background-color: #fcf8e3;
}

.max-width {
    max-width: 450px;
}

.width-2 {
    width: 380px;
}

.width-3 {
    width: 420px;
}

.max-width-4 {
    max-width: 160px;
}

.max-width-3 {
    max-width: 170px;
}

.min-width-4 {
    min-width: 240px;
}

.h1 {
    font-family: 'Red Rose', cursive;
    color: white;
}

.gradient {
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.portrait {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7d8daa, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7d8daa, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

.green:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.navbar-collapse {
    flex-grow: 0;
}

.stylish {
    background-color: #eeeeee;
    border-radius: 4px;
}

.success-radius {
    background-color: #00C851;
    border-radius: 4px;
}

.primary-radius {
    background-color: #4285F4;
    border-radius: 4px;
}

.text-5 {
    font-size: 0.85rem;
}

.text-4 {
    font-size: 1.2rem;
}

.text-3 {
    font-size: 1.5rem;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
