
label.error {
    display:block; /* change the display to block*/
    width: 680px;
    font-size:12px;
    color:blue;
    padding:3px;
    margin-left:55px;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
